@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@1&display=swap');
h1{
    font-family: 'Kaushan Script';
    text-align: center;
}
p{
    font-family: 'Work Sans', sans-serif;
    text-align: justify;
    color: rgb(0, 247, 132);
    background-color: rgba(0, 0, 0, 0.5);
}

